.aboutus-text{
    width: 700px;
}

.container {
    width: 85%;
    margin: auto;
}

.brand-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
	color:#FED190;
}

.ceylon{
    padding-top: 50px;
}

.ceylon h2{
    font-size: 26px;
    
}
 
.ceylon p{
    padding-top: 10px;
    font-size: 20px;
}

/* Vision & Mission  */
.vm-row {
    margin: 40px 0;
    display: block;
}

.vm-img, .vm-text {
    display: inline-block;
    width: 48%; 
    vertical-align: middle;
}

.vm-img img {
    width: 100%;
    border-radius: 8px;
}

.vm-text {
    padding: 0 30px;
}

.vm-text h3 {
    border-left: 4px solid orange; /* Layout එකේ තිබුණු විදිහට */
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 26px;
}

.vm-text p{
    font-size: 20px;
}

/* Team */
.team-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card {
    background-color: #fff;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    padding-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.team-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.team-card h3 {
    margin-top: 15px;
}

.team-card p {
    font-size: 14px;
    color: #7a5c3e;
}



/* Branches */
.branch-container {
    display: flex;
    gap: 20px;
    justify-content: center;
 
}

.branch-card {
    background-color: #fff;
    width: 280px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
		
}

.branch-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.branch-card h3 {
    margin-top: 15px;
}

.branch-card p {
    padding: 10px;
    font-size: 14px;
}




/* Blue Section */
.blue-section {
    background-color:#d2a12d;
    color: white;
    text-align: center;
    padding: 50px 0;
}

.btn {
    display: inline-block;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
}
